/* Transitions */
.fade-enter-active {
  transition: opacity ease-in;
}
.fade-leave-active {
  transition: opacity ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0.5;
}

.fade-in-appear-active {
  transition: opacity 2s;
}
.fade-in-appear {
  opacity: 0.2;
}
