@import '/theme/_variables';
@import '/theme/_mixins';

#cv-section {

  p {
    @include sans-serif-font;
  }

  .cv-row {
    margin-top: 20px;
    border-bottom: $gray-700 1px solid;
    padding-bottom: 10px;
  }

  #basic-info {
    p {
      text-align: center;
    }
  }

  #highlight {
    margin-top: 30px;
    p {
      text-align: center;
    }
  }

  #skills-row, #experience-row {
    p {
      margin-top: 30px;
    }
  }

}
