@import 'theme/_variables';

#project-detail-header {
  height: 400px !important;
  min-height: 0 !important;

  @media (min-width: 992px) {
    div.container {
      padding-top: 150px;
    }
  }

}

#project-detail {
  padding-top: 6rem !important;
  p {
    // font-size: 1.2rem;
    color: $gray-100 !important;
    a {
      color: $gray-100;
      text-decoration: underline;
      &:hover {
        color: $gray-100;
      }
    }
  }
}
